# The Read-Only User IT gives you
DB_USER=readonly_user
DB_PASSWORD=secretpassword

# Usually, from your screenshots it seems the database might be named 'Lips5' or 'dolphin'
DB_NAME=YourDatabaseName

# The IP address of the local server
DB_SERVER=172.16.0.114

# Port for your local NodeJS server
PORT=3000
